.advantages {
  margin-bottom: 27px;
}

.advantages__title {
  margin-left: 7px;
}

.advantages__wrapper {
  padding: 30px 30px 30px 23px;
}

.advantages__item {
  min-height: 125px;
}

.advantages__picture {
  min-height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}

.advantages__description {
  font-size: 17px;
  color: $main-color-text;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  margin-left: 7px;
}
