.button {
  color: $second-color-text;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid $second-color-text;
  display: inline-block;
}

.button:hover,
.button:active {
  background-color: $second-color-text;
  border: 2px solid $second-color-text;
}

.button:hover {
  color: $color-main;
}

.button:active {
  color: $color-dark-grey;
}
