.catalog__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.catalog__list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.catalog__item {
  border: 1px solid $color-white;
  display: flex;
  flex-direction: column;
}

.catalog__photo {
  display: flex;
  height: 195px;

   img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.catalog__card-wrapper {
  padding: 30px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &:hover {
    box-shadow: 0 6px 10px 0 $color-black-1;
  }

  &:active {
    box-shadow: 0 3px 5px 0 $color-black-1;
  }
}

.catalog__title {
  line-height: 24px;
  font-weight: 700;
  color: $main-color-text;
  margin-bottom: 5px;
  font-size: 17px;
}

.catalog__features {
  font-size: 13px;
}

.catalog__description {
  border-bottom: 1px solid $color-white;
  padding-bottom: 20px;
}

.catalog__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}

.catalog__price {
  line-height: 24px;
  font-weight: 700;
  color: $main-color-text;


  &:hover {
    color: $main-color-text-hover;
  }

  &:active {
    color: $main-color-text-down;
  }
}

.catalog__link {
  display: flex;
  margin-left: 22px;


  &:hover {
    svg {
      fill: $second-color-main;
      opacity: 1;
    }
  }

  &:active {
    svg {
      fill: $color-turquoise-4;
    }
  }
}
