.form__wrapper {
  padding: 30px 30px 55px 30px;

  @include media(tablet) {
    padding: 0 0 62px 0;
  }
}

.form__description {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 26px;

  @include media(tablet) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @include media(desktop) {
    padding-left: 225px;
    padding-right: 225px;
  }
}

.form__filter,
.form__id,
.form__address,
.form__add {
  border: 0;
}

.form__section {

  @include media(tablet) {
    padding: 50px 50px 26px 50px;
  }

  @include media(desktop) {
    padding-left: 112px;
    padding-right: 145px;
  }
}

.form__section--color {
  @include media(tablet) {
    background-color: $color-light-grey;
  }
}

.form__filter {

  @include media(tablet) {
    align-items: flex-start;
    display: flex;
  }
}

.form__id {
  margin-bottom: 10px;

  @include media(tablet) {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.form__address {
  margin-bottom: 31px;
  @include media(tablet) {
    display: flex;
    align-items: flex-start;
  }
}

.form__add {
  margin-bottom: 17px;

  @include media(tablet) {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 53px;
  }
}

.form__footnote {
  margin-bottom: 31px;

  @include media(tablet) {
    order: 1;
    margin-left: auto;
    margin-bottom: 0;
    align-self: center;
  }
}

.form__title {
  font-size: 17px;
  line-height: 1;
  color: $second-color-main;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &::after {
    content: " ";
    margin-left: 20px;
    height: 1px;
    background-color: $color-turquoise-3;
    flex-grow: 1;
  }

  @include media(tablet) {

    &::after {
      display: none;
    }
    padding-top: 18px;
    min-width: 167px;
  }

  @include media(desktop) {
    min-width: 112px;
  }
}

.form__title--add {
  margin-bottom: 23px;
}

.form__text,
.form__name {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: $main-color-text;
}

.form__name {
  margin-right: 25px;
  display: block;
  max-width: 50%;
}

.form__text {
  margin-left: 24px;
}

.form__list {
  margin: 27px 0 10px 0;

  @include media(tablet) {
    margin: 0;
  }
}

.form__item {
  padding-bottom: 24px;
  min-width: 260px;
}

.form__id {
  .form__title {
    margin-bottom: 15px;

    @include media(tablet) {
      margin-bottom: 0;
    }
  }
}

.form__input {
  font-size: 17px;
  line-height: 18px;
  min-width: 260px;
  width: 100%;
  padding: 18px 40px 18px 0;

  @include media(tablet) {
    padding: 18px 55px 18px 18px;
  }


  &:active {
    color: $second-color-text;
  }
}

.form__input--color {
  @include media(tablet) {
    background-color: $color-light-grey;
  }
}

.form__input--add {
  margin-left: 0;
  padding: 16px;
  border: 2px solid $second-color-text;

  &:hover,
  &:active {
    border-color: $color-turquoise-3;
  }

  @include media(tablet) {
    min-height: 142px;
  }
}

.form__input-wrapper {
  &:hover,
  &:active {
    &::after {
      background-color: $color-turquoise-3;
    }
  }
}

.form__name-box {
  @include media(tablet) {
    flex-grow: 1;
  }
}

.form__name-wrapper {
  margin-bottom: 25px;

  @include media(tablet) {
    display: flex;
    align-items: center;
  }
}

.form__input-wrapper {
  @include media(tablet) {
    flex-grow: 1;
  }
}

.form__button {
  padding: 20px 47px;
  display: block;
  margin: 0 auto;

  @include media(tablet) {
    margin: 0;
  }

  @include media(desktop) {
    margin-left: 112px;
  }
}

.form__list-colors {
  @include media(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__control {
  display: flex;
  align-items: center;
}

.form__mark {
  width: 40px;
  height: 40px;
  border: 2px solid $second-color-text;
  position: relative;

  &:hover {
    border-color: $color-turquoise-3;
  }

  &:active {
    border-color: $main-color-text-down;
  }
}

.form__mark--circle {
  border-radius: 50%;
  background: transparent;
  background-clip: content-box;
  padding: 10px;
}

.form__control-input:checked ~ .form__mark--circle {
  background-color: $color-turquoise-5;
  }

.form__control-check:checked ~ .form__mark::before {
  display: block;
}

.form__mark::before {
  content: " ";
    position: absolute;
    background-image: url(/img/icon-tick-mobile.svg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 22px;
    height: 16px;
}

.form__icon-phone {

  &:hover,
  &:active {
    fill: $color-turquoise-3;
    opacity: 1;
  }
}

.form__input-box {
  display: flex;
  align-items: center;
  position: relative;
}

.form__icon {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.2;

  &--phone {
    right: 8px;

    @media (min-width: $tablet) and (max-width: calc(#{$desktop} - 1px)) {
      right: 26px;
    }
  }

  &--email {
    right: 4px;

    @media (min-width: $tablet) and (max-width: calc(#{$desktop} - 1px)) {
      right: 22px;
    }
  }
}

.form__section--add {
  @include media(tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 0;
  }
}
