.main-nav__btn-menu,
.main-nav__btn-close {
  padding: 0;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 30px;
  right: 30px;
}

.main-nav__btn-menu {
  display: none;
}

.main-nav__btn-close {
  display: block;
}

.site-list__item {
  border-top: 2px solid $color-white;
}

.site-list__link {
  color: $main-color-text;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.site-list__item:nth-child(1) .site-list__link,
.site-list__item:nth-child(2) .site-list__link {
  margin-left: 45px;
}

.site-list__item:nth-child(3) .site-list__text,
.site-list__item:nth-child(4) .site-list__text {
  margin-left: 25px;
}

.site-list__link:hover {
  color: $main-color-text-hover;
}

.site-list__link:active {
  color: $main-color-text-down;
}

.site-list__item {
  padding: 28px 30px;
  text-align: left;
}

.site-list__link:hover .site-list__icon {
  fill: $second-color-main;
  opacity: 1;
}

.site-list__link:active .site-list__icon {
  fill: $color-turquoise-4;
}

.site-list__icon {
  display: flex;
}

.site-list__quantity {
  margin-left: 5px;
}
