.page-header__wrapper {
  width: 260px;
  display: flex;
  align-items: center;
}

.page-header-link {
  padding: 22px 30px 22px 117px;
}

.page-header__btn-menu {
  margin-left: 37px;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.page-header {
  border-bottom: 2px solid $color-border;
}
