.page-footer {
  background-color: $color-page-footer;
}

.page-footer__wrapper {
  padding: 25px 30px 23px 30px;
}

.social__list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-border-footer;
  padding: 25px 62px 27px 57px;
}

.social__link,
.copiright__link {
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 40px;
}

.page-footer__copyright {
  padding: 22px 35px;
  display: flex;
  align-items: center;
}

.copiright__text {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  margin-right: 30px;
  color: $main-color-text;
}

.social__link:hover svg,
.copiright__link:hover svg {
  fill: $color-icon-hover;
}

.social__link:active svg,
.copiright__link:active svg {
  fill: $color-icon-active;
}
