.page-footer {
  background-color: $color-light-grey;
}

.page-footer__wrapper {
  padding-top: 25px;
  padding-bottom: 30px;
}


.page-footer__copyright {
  padding: 22px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

