$main-font: "Open Sans", "Arial", sans-serif;
$main-color-text: rgb(0, 0, 0);
$main-color-text-hover: rgb(102, 102, 102);
$main-color-text-down: rgb(178, 178, 178);
$second-color-text: rgb(68, 68, 68);
$color-main: rgb(255, 255, 255);
$second-color-main: rgb(99, 209, 187);
$color-turquoise: rgb(89, 213, 188);
$color-turquoise-1: rgb(86, 195, 178);
$color-turquoise-2: rgb(70, 193, 174);
$color-white: rgb(236, 236, 236);
$color-turquoise-3: rgb(98, 209, 186);
$color-light-grey: rgb(241, 241, 241);
$color-grey: rgb(229, 229, 229);
$color-turquoise-4: rgb(217, 244, 238);
$color-dark-grey: rgb(87, 87, 87);
$color-turquoise-5: rgb(70, 193, 174);
$color-turquoise-6: rgb(189, 227, 221);
$color-turquoise-7: rgb(199, 236, 231);
$color-background-modal: rgba(255, 255, 255, 0.9);
$color-grey-1: rgb(199, 199, 199);
$color-black-1: rgba(0, 0, 0, 0.1);
$color-turquoise-8: rgb(208, 241, 234);

